/* =========================================
===  CSS TABLE CONTENT  ====
============================================

1.0 reset
2.0 base
3.0 typography
4.0 navigation
5.0 header
6.0 content
7.0 footer
8.0 responsive


============================================
===  END CSS TABLE CONTENT  ====
============================================ */

/* =========================================
1.0 #reset
============================================ */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, .primary-nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, .primary-nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =========================================
2.0 #base
============================================ */

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  /*background color #f8f8f8 inlined for rendering speed*/
  color: #373b3e;
  font-family: "Vollkorn", serif;
  font-size: 1.6em;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0;
  width: 100%;
}

section {
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

section {
  border-top: 1px solid #373b3e;
}
/* =========================================
3.0 #typography
============================================ */

h1, h2, h3, h4 {
  color: #242424;
  font-family: "Oswald", sans-serif;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 3.375em;
  padding-bottom: 5vh;
}

h2 {
  font-size:  1.6em;
  padding: 3vh 0;
}

h3 {
  font-size:  1.25em;
  padding: 2vh 0;
}

h4 {
  font-size:  1.125em;
  padding-bottom: 2vh;
}

p {
  max-width: 67ch;
  padding-bottom: 1em;
}


/* =========================================
4.0 #navigation
============================================ */

a {
  text-decoration: none;
}

a:link, a:visited {color: #085083;}
a:hover {color: #242424;}
a:focus, a:active {color: #373b3e;}


/* =========================================
5.0 #header
============================================ */

/*Fixed nav with flex order 1*/
.primary-nav {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  order: 1;
  padding: 1em 2em;
  text-transform: uppercase;
}

.primary-nav__menu {
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  font-size: 1.5em;
  padding: 0;
}

/*Show short links on smaller screens*/
.primary-nav__menu span:last-of-type {
  display: none;
}

.primary-nav__menu li {
  padding: 0 10px;
  position: relative;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

.primary-nav__menu li:before {
  background-color: #cc3700;
  bottom: 0;
  content: "";
  height: .125em;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.35s ease-in-out 0s;
          transition: all 0.35s ease-in-out 0s;
}

.primary-nav__menu li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.primary-nav__logo {
  font-size: 2.25em;
}

/*Show initials on smaller screens*/
.primary-nav__logo span:last-of-type {
  display: none;
}


/* =========================================
6.0 #content
============================================ */

/*Order for fixed-nav*/
.main {
  order: 2;
  overflow-y: auto;
  padding: 0 2em;
  width: 100%;
}

.hero {
  padding: 1.4em 0;
}

.hero h1,
.hero h2 {
  padding: 0;
}

.hero h1 {
  font-size:  3.6em;
}

.hero h2 {
  font-size:  1.6em;
}

/*Project styling*/
.project {
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

.project__container {
  padding: 1em 0.5em;
  max-width: 19em;
}

.project__img {
  max-width: 260px;
}

/*About Me styling*/
.about {
  -webkit-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

#skills-donut {
  max-width: 280px;
  max-height: 400px;
}

svg {
  max-width: inherit;
}


/* =========================================
7.0 #footer
============================================ */

.contact {
  border-bottom: none;
}
.social {
  /*TODO: Fancy icons? */
}

/* =========================================
8.0 #responsive
============================================ */

/*1st breakpoint*/

@media screen and (min-width: 27.5em) {
  /*Navigation change to single row*/
  .primary-nav {
    -webkit-flex-direction: row;
            flex-direction: row;
  }

  .primary-nav__menu {
    flex: 1 0 0%;
  }

  .primary-nav__logo {
    flex: 1 0 0%;
  }
}

/*2nd breakpoint*/
@media screen and (min-width: 42em) {
  /*Hero text mid-size*/
  .hero h1 {
    font-size:  4.6em;
  }

  .hero h2 {
    font-size:  2em;
  }

  /*About me styling */
  .about {
    -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .about__headline {
    flex: 1 0 0%;
    padding-right: .5em;
  }

  .about__overview,
  #skills-donut {
    flex: 1.5 0 0%;
  }
}

/*3rd breakpoint*/
@media screen and (min-width: 50em) {
  .primary-nav__menu li {
    padding: 0;
  }
  /*Navigation - show full links on larger screens*/
  .primary-nav__menu span:first-of-type {
    display: none;
  }

  .primary-nav__menu span:last-of-type {
    display: -webkit-flex;
    display:         flex;
  }

  .primary-nav__menu {
    flex: 3 0 0%;
  }

  .primary-nav__menu a {
    padding: 0;
  }

  .primary-nav__logo {
    flex: 2 0 0%;
  }

  /*Hero text mod for larger screens*/
  .hero h1 {
  font-size:  5.063em;
  }

  .hero h2 {
    font-size:  2.25em;
  }
}

/*Final major breakpoint*/
@media screen and (min-width: 60em) {
  /*Navigation mods*/
  .primary-nav__menu {
    flex: 1 0 0%;
  }

  .primary-nav__logo {
    flex: 1 0 0%;
  }

  /*Show full name on largerst screens*/
  .primary-nav__logo span:first-of-type {
    display: none;
  }

  .primary-nav__logo span:last-of-type {
    display: -webkit-flex;
    display:         flex;
  }
}

/*Final minor breakpoint*/
@media screen and (min-width: 70em) {
  /*Navigation mod*/
  .primary-nav__logo {
    flex: 1.3 0 0%;
  }
}
