/* =========================================
===  CSS TABLE CONTENT  ====
============================================

1.0 reset
2.0 base
3.0 typography
4.0 navigation
5.0 header
6.0 content
7.0 footer
8.0 responsive


============================================
===  END CSS TABLE CONTENT  ====
============================================ */

/* =========================================
1.0 #reset
============================================ */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, .primary-nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, .primary-nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =========================================
2.0 #base
============================================ */

html {
  font-size: 62.5%;
}

body {
  color: #373b3e;
  font-family: "Vollkorn", serif;
  font-kerning: normal;
  font-size: 1.6em;
  line-height: 1.4;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

.flex-container {
  margin: 0;
  width: 100%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
}
/* =====================================================
TODO - dry up flexbox styling.
1. Rename flex-container ~ specific to cols
2. Create flex-row class
3. The grid is basically 4-4-4 or 8-4. Define up front.
======================================================= */

section {
  border-top: 1px solid #373b3e;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

section:not(#what) {
  padding: 0 2em;
}


/* =========================================
3.0 #typography
============================================ */

h1, h2, h3, h4, .btn {
  color: #242424;
  font-family: "Oswald", sans-serif;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 3.6em;
  padding-bottom: 5vh;
}

h2 {
  font-size:  2.25em;
  padding: 3vh 0;
}

h3 {
  font-size:  1.6em;
  padding-bottom: 2.5vh;
}

h4 {
  font-size:  1.5em;
  padding-bottom: 2vh;
}

p {
  max-width: 67ch;
  padding-bottom: 1em;
}


/* =========================================
4.0 #navigation
============================================ */

a {
  text-decoration: none;
}

a:link, a:visited {color: #085083;}
a:hover,
a:focus,
li span:hover,
li span:focus  {
  background-image: linear-gradient(to bottom, #cc3700 50%,#cc3700 100%);
  background-size: 2px 2px;
  background-repeat: repeat-x;
  background-position: 0 90%;
  color: #cc3700;
}
a:active {color: #242424;}

p a:link,
p a:visited {
  color: #cc3700;
}

.btn {
  height: 2em;
  width: 9em;
  background-color: inherit;
  border-radius: 1em;
  border: 2px solid;
  display: block;
  font-size: 2rem;
  line-height: 1.7em;
  margin: 0 auto;
}

.btn:hover,
.btn:focus {
  background-image: none;
  color: #fff;
}

.btn__blue {
  border-color: #085083;
  color: #085083;
}

.btn__blue:hover,
.btn__blue:focus {
  background-color: #085083;
}

/* =========================================
5.0 #header
============================================ */

/*Fixed nav with flex order 1*/
.primary-nav {
  padding: 1em 2em;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.35);
          box-shadow: 0 0 5px rgba(0,0,0,0.35);
}

.primary-nav__menu {
  font-size: 1.5em;
  padding: 0;
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

/*Show short links on smaller screens*/
.primary-nav__menu span:last-of-type {
  display: none;
}

.primary-nav__menu li {
  font-weight: 700;
  padding: 0 0.67em;
  text-align: center;
}

.primary-nav__logo {
  font-size: 2.25em;
  text-align: center;
}

/*Show initials on smaller screens*/
.primary-nav__logo span:last-of-type {
  display: none;
}

.primary-nav__logo:hover, 
.primary-nav__logo:focus {
  background-image: none;
}


/* =========================================
6.0 #content
============================================ */

.hero {
  padding: 2em;
}

.hero h1,
.hero h2 {
  padding: 0;
}

.hero h2 {
  font-size: 1.8em;
}

/*Project styling*/

#what h2 {
  padding: 3vh 0.889em;
}

article:nth-of-type(2n+1){
  background-color: #e0e4e7;
}

.project {
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

.project__container,
.project__img {
  width: 100%;
}

.project__container {
  padding: 2em;
}

.project__text {
  text-align: center;
}

.image-deets {
  color: #373b3e;
  font-size: 0.8em;
}

/*About Me styling*/
.about {
  -webkit-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

p + a:link {
  color: #cc3700;
}


/* =========================================
7.0 #footer
============================================ */

#talk {
  background-color: #e0e4e7;
}

.social {
  font-family: "Oswald";
  font-size: 1.2em;
  padding-bottom: 2em;
}

.social__col--1,
.social__col--2,
.social__col--3 {
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.social a {
  padding: .5em 0;
}


/* =========================================
8.0 #responsive
============================================ */

/*1st breakpoint*/
@media screen and (min-width: 27.5em) {
  /*Navigation change to single row*/
  .primary-nav {
    -webkit-flex-direction: row;
            flex-direction: row;
  }

  .primary-nav__menu,
  .primary-nav__logo {
    -webkit-flex: 1 0 0%;
            flex: 1 0 0%;
  }

  .primary-nav__logo {
    text-align: left;
  }
}


/*2nd breakpoint*/
@media screen and (min-width: 42em) {
  /*Hero text mid-size*/
  .hero h1 {
    font-size:  4.6em;
  }

  .hero h2 {
    font-size:  2em;
  }

  /*Project images in cols*/
  .project {
    -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-align-items: baseline;
            align-items: baseline;
  }

  .project__container {
    width: 100%;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .project__img {
    max-width: 55vw;
  }

  .project__text {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  /*About me and footer styling changes*/
  .about,
  .social,
  .social__block  {
    -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .about__headline,
  .social__col--1  {
    padding-right: 1em;
    -webkit-flex: 1 0 0%;
            flex: 1 0 0%;
  }

  .about__overview,
  .social__block {
    -webkit-flex: 1.5 0 0%;
            flex: 1.5 0 0%;
  }


  .social,
  .social__block {
    -webkit-align-items: baseline;
            align-items: baseline;
  }
}


/*3rd breakpoint ~800px*/
@media screen and (min-width: 50em) {
  .primary-nav__menu {
    -webkit-flex: 3 0 0%;
            flex: 3 0 0%;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .primary-nav__menu li {
    padding: 0;
  }

  /*Navigation - show full links on larger screens*/
  .primary-nav__menu span:first-of-type {
    display: none;
  }

  .primary-nav__menu span:last-of-type {
    display: -webkit-flex;
    display:         flex;
  }

  .primary-nav__logo {
    -webkit-flex: 2 0 0%;
            flex: 2 0 0%;
  }

  /*Hero text mod for larger screens*/
  .hero h1 {
  font-size:  5.063em;
  }

  .hero h2 {
    font-size:  2.25em;
  }

  .project__container {
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }
}

/*4th breakpoint*/
@media screen and (min-width: 60em) {
  /*Navigation mods*/
  .primary-nav__menu,
  .primary-nav__logo  {
    -webkit-flex: 1 0 0%;
            flex: 1 0 0%;
  }

  /*Show full name on largerst screens*/
  .primary-nav__logo span:first-of-type {
    display: none;
  }

  .primary-nav__logo span:last-of-type {
    display: -webkit-flex;
    display:         flex;
  }
}


/*5th breakpoint*/
@media screen and (min-width: 70em) {
  /*Navigation mod*/
  .primary-nav__logo {
    -webkit-flex: 1.3 0 0%;
            flex: 1.3 0 0%;
  }

  .main {
    width: 100%;
  }
}
