/* =========================================
===  CSS TABLE CONTENT  ====
============================================

1.0 reset
2.0 base
3.0 headings
4.0 navigation
5.0 header
6.0 content
7.0 footer
8.0 responsive


============================================
===  END CSS TABLE CONTENT  ====
============================================ */

/* =========================================
1.0 #reset
============================================ */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =========================================
2.0 #base
============================================ */

html {
  font-size: 62.5%;
}

body {
  background: #dedede;
  color: #373b3e;
  font-family: "Vollkorn", serif;
  font-size: 1.6em;
  line-height: 1.2;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 1rem;
  width: 100%;
}

/* =========================================
3.0 #headings
============================================ */

h1, h2, h3, h4 {
  color: #242424;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size:  3.6em;
  font-weight: 700;
}

h2 {
  font-size:  1.6em;
  font-weight: 400;
}


/* =========================================
4.0 #navigation
============================================ */

a {
  text-decoration: none;
}

a:link {color: #316871;}
a:visited {color: #316871;}
a:hover {color: #242424;}
a:focus, a:active {color: #373b3e;}

/* =========================================
5.0 #header
============================================ */

.primary-nav {
  font-family: "Vollkorn";
  font-weight: 700;
  padding: 10px 10px;
  text-transform: uppercase;
}

.primary-nav-menu {
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  font-size: 1.5em;
  padding: 0;
}

.primary-nav-menu a {
  padding: 0 10px;
  position: relative;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

.primary-nav-menu a:before {
  background-color: #242424;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  letter-spacing: 0.0625em;
  position: absolute;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
}

.primary-nav-menu a:hover {
  letter-spacing: 0.0625em;
}

.primary-nav-menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.logo {
  color: #316871;
  -webkit-flex: 2 1 auto;
          flex: 2 1 auto;
  font-size: 2.4em;
}
.hero-text {
  padding: 1em;
}
/* =========================================
6.0 #content
============================================ */

.about-me {
  width: 80%;
}

.social-icons {
  padding-top: 1.2rem;
  /*TODO: Fancy icons */
}

/* =========================================
7.0 #footer
============================================ */


/* =========================================
8.0 #responsive
============================================ */

/*TODO: Tablet and full-width */

/*@media sceen and (min-width: 500px) {

.primary-nav {
  -webkit-flex-direction: row;
            flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}*/
