/* =========================================
===  CSS TABLE CONTENT  ====
============================================

	1.0 reset
	2.0 base
  3.0 headings
  4.0 navigation
  5.0 content
  6.0 footer


============================================
===  END CSS TABLE CONTENT  ====
============================================ */

/* =========================================
1.0 #reset
============================================ */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================================
2.0 #base
============================================ */

html {
	font-size: 62.5%;
}

body {
  background: #dedede;
  color: #373b3e;
  font-family: "Vollkorn", serif;
  font-size: 1.6em;
	line-height: 1.2;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display:         flex;
  align-items: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

/* =========================================
3.0 #headings
============================================ */

h1, h2, h3, h4 {
  color: #242424;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size:  3.6em;
  font-weight: 700;
}

h2 {
  font-size:  1.6em;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:link {color: #316871;}
a:visited {color: #316871;}
a:hover, a:focus {color: #242424;}
a:active {color: #373b3e;}

/* =========================================
4.0 #navigation
============================================ */

.primary-nav {
  display: -webkit-flex; /* Safari */
  display:         flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Vollkorn";
  font-weight: 700;
  padding: 10px;
  width: 100%;
}

.primary-nav-menu {
  display: -webkit-flex; /* Safari */
  display:         flex;
  align-items: center;
  flex: 1 1 0;
  justify-content: space-around;
  font-size: 1.5em;
}

.primary-nav-menu li {
  padding: 0 20px;
}

.logo {
  color: #316871;
	flex: 2 1 auto;
  font-size: 3.375em;
}

/* =========================================
5.0 #content
============================================ */

.about-me {
	width: 80%;
}

.social-icons {
  padding-top: 1.2rem;
  /*TODO: Figure out some cohesive social icon display/interactions */
}

/* =========================================
6.0 #footer
============================================ */
